$primary-color:#0caa0c;
$error-color:red;
@mixin shrinkLable {
    top:0.3vh;
    font-size: 0.8rem;
    background-color: white;
    padding: 0.3%;
}
.inputFieldContainer{
    position: relative;
    height:10vh;
    display: block;
   // border:3px solid black;
    input[class*=inputField]{
        outline: none;
       position:relative;
        border: 2px solid $primary-color;
        border-radius: 5px;
        padding:2%;
        margin: 2.5% 0;
        width:30vw;
        
        &:focus ~ label[class^='inputField'] {
            @include shrinkLable();
        }
    }
    label[class*=inputFieldLabel]{
        position: absolute;
        color: $primary-color;
        top:2.5vh;
        left:0.5vw;
        transition: 0.3s ease all;
        &:hover{
            cursor: text;
        }
    }
    .errorMessageForInput{
        position: relative;
        color: $error-color;
        font-size: 80%;
        top:-1vh;
        height: 5vh;
        
    }
    label[class*='shrink']{
        @include shrinkLable();
    }
    input[class*='error']{
        border:2px solid $error-color;
    }
    label[class*='error']{
        color: $error-color;
    }
  
}