$primary-color:#0caa0c;
.signInHeading{
    font-size: 2.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    color: $primary-color;
    font-weight: bold;
    text-decoration: underline;
}
.signIn-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border: 2px solid $primary-color;
    margin: 1%;
    border-radius: 10px;
    width: 60vw;
    left:20vw;
    .reset-forgot-password{
        align-self: center;
    }
    .signup-link{
        align-self: center;
        margin-bottom: 1vh;
    }
}